<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me!</h2>
                <hr class="light">
                <p class="text-faded">Hi! I'm James Klostermeyer! Thanks for visiting my site on WD6 and my project for this month. I'm a student at Full Sail Univ. and Studying Web Design and Development.</p>
                <p class="text-faded"> Web Design is always something I have been interested in. Honestly I really enjoy programming to begin with and this just adds to that. My goal is to one day own my own Web Design and Development Studio. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
