<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <h3>Blog #1</h3>
            <p>
            10 Sept 2019 - Branching in general is a great idea. It allow us to build different versions without 
                messing with the main code and/or destroying what we or others have already worked on. Epics and 
                user stories help us as developer to get the ideas of our customer and what they want to deliver 
                to their customers. Flowcharts and Pseudo Code help put our technical idea and thoughts into a 
                language that an everyday person can understand without confusing them too much. 
                KodingKlosty.github.com/index.html
            </p>
            <h3> Burn List </h3>
            <p>
               I would like to get caught up asap in this class. Dorain Put a bit of a damper on getting started correctly
            </p>
            <p>
                Week 3 and 4 Will go here :) Stay tuned more to come
            </p>
                
        </div>
    </div>
</section>
